@media all and (max-width: 767px){
    .call-us a{
        border-left: inherit;
    }
    .borderrt{
        border-right: inherit;
    }
    .social-top-left{
        text-align: inherit;
    }
    .social-top-left a{
        border-left: inherit;
        padding: 5px 0 5px 10px;
    }
    .carousel-inner{
        /* height: 350px; */
    }
    
    
}

@media all and (max-width: 991px){
    .call-us a{
        border-left: inherit;
        padding: 8px 5px;
    }
    .borderrt{
        border-right: inherit;
    }
    .social-top-left{
        text-align: inherit;
    }
    .social-top-left a{
        border-left: inherit;
        padding: 5px 0 5px 10px;
    }
    .feature-icon{
        padding: 15px 0;
        margin-left: 20px;
    }
    .carousel-overlay img{
        margin: 15px 0 15px 0;
        max-width: 10% !important;
    }
    .carousel-overlay h2{
        font-size: 35px;
    }
    .carousel-overlay p{
        font-size: 13px;
    }
    
}
@media all and (max-width: 426px){
    .carousel-inner{
        /* height: 180px; */
    }
    .footer-nav{
        text-align: inherit;
    }
    .footer-nav ul li a{
        padding: 0 0 0 10px !important;
    }
    .our-courses .owl-dots{
        display: none;
    }
    .our-services .owl-dots{
        display: none;
    }
}