*{
    margin: 0;
    padding: 0;
}
header{

}
.social-top{
    /* display: flex; */
}
.call-us{
    /* width: 40%;
    justify-content: flex-start; */
}
.call-us a{
    font-size: 14px;
    color: #afb0b4;
    padding: 8px 12px;
    display: inline-block;
    border-left: 1px solid #afb0b4;
}
.borderrt{
    border-right: 1px solid #afb0b4;
}
.call-us a:hover{
    color: #df4a43;
}
.call-us a i::before{
    margin-right: 5px;
    color: #df4a43;
}
.social-top-left{
    text-align: right;
}
.social-top-left a{
    font-size: 14px;
    color: #df4a43;
    padding: 8px 12px;
    display: inline-block;
    border-left: 1px solid #afb0b4;
}
.social-top-left a:hover{
    color: #afb0b4;
}
header hr{   
    margin: 0;
}
.main-menu{
    padding: 15px 0;
}
.nav-link{
    color: #6f7478 !important;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 0 0 32px !important;
}
.nav-link::before{
    width: 0;
    height: 3px;
    background: #df4a43;
    content: '';
    position: absolute;
    bottom: -43px;
}
.nav-link:hover{
    color: #df4a43 !important;
    transform: scale(1.0);
    transition: .5s ease-in-out;
}
.nav-link:hover::before{
    width: 60%;
    transition: .5s ease-in;
}

/* style for banner */

.carousel-inner{
    height: auto;
    position: relative;
}
.carousel-item{
    
}
.carousel-overlay{
    background: rgba(58, 53, 68, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #ffffff;
}
.carousel-overlay img{
    margin: 30px 0 20px 0;
}
.carousel-overlay h3{
    font-size: 17px;
    color: #df4a43;
    margin-bottom: 30px;
}
.carousel-overlay .line{
    width: 100px;
    height: 3px;
    background: #df4a43;
    margin: 20px auto;
}
.carousel-overlay h2{
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
}
.carousel-overlay p{
    width: 55%;
    font-size: 16px;
    margin: 20px auto;
    color: #e9e8e8;
}
.carousel-indicators li{
    width: 17px;
    height: 5px;
    background: #858b98;
}
.carousel-indicators li.active{
    background: #df4a43;
}

/* style for our features section */

.our-features{
    padding: 100px 0 50px 0;
}
.feature-header{
    text-align: center;
    padding-bottom: 40px;
}
.feature-header h2{    
    font-size: 25px;   
    font-weight: 700;   
    color: #df4a43;
}
.feature-header .line-50{    
    width: 30px;    
    height: 2px;    
    background: #6f747869;    
    margin: 10px auto;
}
.feature-header p{    
    font-size: 16px;    
    font-weight: 700;    
    color: #6f7478;
}
.feature-content{

}
.feature-icon{
    padding: 5px 0;
}
.feature-icon a{    
    width: 60px;   
    height: 60px;   
    color: #df4a43;   
    display: inline-block;    
    text-align: center;    
    line-height: 60px;
    border: 1px solid #6f74787d; 
}
.feature-icon a:hover{
    background: #df4a43;
    color: #ffffff;
}
.feature-icon a i{    
    font-size: 30px;    
}
.feature-detail{

}
.feature-detail h3{    
    font-size: 16px;    
    font-weight: 700;    
    color: #6f7478;
}
.feature-detail .line-inner{    
    width: 30px;   
    height: 1px;    
    background: #6f74787d;    
    margin: 15px 0;
}
.feature-detail p{    
    font-size: 13px;    
    font-weight: 500;    
    color: #7a7c82;
}
.feature-detail p a{    
    font-size: 14px;    
    color: #6f7478;
}

/* style for our services section */

.our-services{
    padding: 60px 0;
    background: #393C4B;
}
.services-header{
    text-align: center;
    padding-bottom: 40px;
}
.services-header h2{    
    font-size: 25px;   
    font-weight: 700;   
    color: #df4a43;
}
.services-header .line-51{    
    width: 30px;    
    height: 2px;    
    background: #CBCBCD;    
    margin: 10px auto;
}
.services-header p{    
    font-size: 16px;    
    font-weight: 700;    
    color: #CBCBCD;
}
.services-content{
    text-align: center;
}
.services-hover a{
    width: 90px;
    height: 90px;
    color: #df4a43;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    border: 4px solid #6f74787d;
    border-radius: 50%;
}
.services-hover:hover a,
.services-hover:hover .line-inner{
    background: #df4a43;
    color: #ffffff;
    border-color: #6f7478de;
}
/* .services-hover:hover h3{
    color: #df4a43;
    cursor: pointer;
} */
.services-content a i{    
    font-size: 30px;    
}
.feature-detail{

}
.services-hover h3{
    font-size: 16px;
    font-weight: 700;
    color: #df4a43;
    margin-top: 20px;
}
.services-hover .line-inner{    
    width: 30px;   
    height: 1px;    
    background: #fff;    
    margin: 15px auto;
}
.services-content p{    
    font-size: 13px;    
    font-weight: 500;    
    color: #7a7c82;
    width: 90%;
}
.owl-nav{
    display: none;
}
.owl-carousel button.owl-dot{
    color: #fff !important;
    padding: 3px 0!important;
    font: inherit;
    margin-right: 8px;
    width: 18px;
    margin-top: 30px;
    background: #CBCBCD;
}
.owl-carousel button.owl-dot.active{
    background: #df4a43;
}

/* style for our courses section */

.our-courses{
    padding: 60px 0;
    background: #F6F6F6;
}
.courses-header{
    text-align: center;
    padding-bottom: 40px;
}
.courses-header h2{    
    font-size: 25px;   
    font-weight: 700;   
    color: #df4a43;
}
.courses-header .line-51{    
    width: 30px;    
    height: 2px;    
    background: #CBCBCD;    
    margin: 10px auto;
}
.courses-header p{    
    font-size: 16px;    
    font-weight: 700;    
    color: #CBCBCD;
}
.courses-content .item{
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    border-radius: 5px;
    padding-bottom: 20px;
}
.courses-content .container{
    margin-left: 10px;
}
.courses-content img{
    
}
.courses-content h3{
    font-size: 18px;
    font-weight: 700;
    color: #df4a43;
    margin-top: 30px;
}
.courses-content h4{    
    font-size: 12px;    
    color: #afb0b4;
}
.courses-content p{
    font-size: 13px;
    font-weight: 500;
    color: #7a7c82;
}
.courses-content .btn{    
    background: #fff;    
    font-size: 13px;    
    color: #df4a43;    
    padding: 6px 25px;    
    border-radius: inherit;    
    margin: 10px 0;
}
.courses-content .btn:hover{    
    background: #df4a43;        
    color: #fff;    
}
.our-courses .owl-nav{
    display: none;
}
.our-courses .owl-dots{
    text-align: center;
}
.our-courses .owl-carousel button.owl-dot{
    color: #fff !important;
    padding: 3px 0!important;
    font: inherit;
    margin-right: 8px;
    width: 18px;
    margin-top: 50px;
    background: #CBCBCD;
}
.our-courses .owl-carousel button.owl-dot.active{
    background: #df4a43;
}

/* style for testimonial section */

.testimonial{
    background: url(../images/bg-middle.png);
    position: relative;
}
.test-overlay{
    background: #d25253e6;
}
.test-content{
    padding: 50px 0;
    text-align: center;
    color: #fff;
}
.test-content .test-pic img{
    width: 80px;
    margin: 20px auto;
}
.test-content p{    
    width: 75%;    
    margin: 20px auto;
}
.test-content .desig{
    font-size: 12px; 
}
.test-content .black-italc{
    font-size: 12px;
    color: black;
}

/* style for our clients section */

.our-clients{
    padding: 80px 0 50px 0;
}
.clients-header{

}
.clients-header h2{
    font-size: 25px;   
    font-weight: 700;   
    color: #df4a43;
}
.clients-header .line-52{
    width: 30px;    
    height: 2px;    
    background: #CBCBCD;    
    margin: 10px 0;
}
.clients-content{
    margin: 50px 0;
}
.clients-content img{
    width: 80% !important;
    margin-left: 20px;
}
.our-clients .owl-nav{
    display: block;
}
.our-clients .owl-dots{
    display: none;
}
.our-clients .owl-carousel .owl-nav {
    display: block;
    position: absolute;
    top: -80px;
    right: 30px;
}
.our-clients .owl-carousel .owl-nav button.owl-prev{
    font-size: 22px;
    background: rgb(39, 6, 6);
    width: 24px;
    height: 24px;
    line-height: 10px;
    margin: 3px;
}
.our-clients .owl-carousel .owl-nav button.owl-next{
    font-size: 22px;
    background: rgb(39, 6, 6);
    width: 24px;
    height: 24px;
    line-height: 10px;
    margin: 3px;
}
.our-clients .owl-carousel .owl-nav button.owl-prev.disabled{
    background: rgb(185, 12, 12);
}
.our-clients .owl-carousel .owl-nav button.owl-next.disabled{
    background: rgb(185, 12, 12);
}
.our-clients .owl-carousel .owl-nav button.owl-prev span{
    margin-bottom: 5px;
    display: inline-block;
    color: #fff;
}
.our-clients .owl-carousel .owl-nav button.owl-next span{
    margin-bottom: 5px;
    display: inline-block;
    color: #fff;
}

/* style for footer section */

footer{
    padding: 80px 0 0 0;
    background: #2c2f3c;
}
.footer-top{
    color: #cbcbcd;
    /* font-size: 14px; */
    padding-bottom: 50px;
}
.footer-top h2{    
    color: #fff;    
    font-size: 16px;   
    margin-bottom: 20px;
}
.footer-top p{
    font-size: 13px;
    text-align: justify;
    margin-bottom: 5px;
}
.footer-contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #cbcbcd;
    margin-top: 20px;
}
.flex-left{
    flex-direction: column;
    flex-basis: 10%;
}
.flex-left a{
    display: block;
    font-size: 16px;
    color: #6f7478;
    margin: 1px 0;
}
.flex-left i{
    margin-top: 3px;
}
.flex-right{
    flex-direction: column;
    flex-basis: 90%;
}
.flex-right p{   
    font-size: 13px;   
    margin: 5px 0;
}
.footer-courses{
    color: #cbcbcd;
}

.footer-image img{
    max-width: 100%;
    margin-top: 5px;
}

.footer-courses p{    
    font-size: 13px;
    margin: 5px 0;    
}
.footer-courses h3{    
    font-size: 16px;
    color: #fff;    
}
.footer-tags{

}
.footer-tags a{
    font-size: 13px;
    text-decoration: none;
    color: #cbcbcd;
    background: #252733;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 5px;
}
.footer-social{
    margin: 30px 0;
}
.footer-social a{
    margin: 0 1px;
}
.footer-social a i{
    padding: 5px 5px;
    border-radius: 2px;
    color: #fff;
}
.footer-social .fa-facebook{
    background: #5D84D2;
}
.footer-social .fa-twitter{
    background: #3FC0F7;
}
.footer-social .fa-linkedin{
    background: #248CC9;
}
.footer-social .fa-google-plus{
    background: #EB5E4C;
}
.footer-social .fa-youtube{
    background: #EF4F43;
}
.footer-social .fa-instagram{
    background: #F7659C;
}
.footer-tweets{

}
.footer-tweets h2{
    
}
.footer-tweets p{
    
}
.footer-tweets p span{
    color: #EF4F43;
}
.footer-tweets .tweets-time{
    font-size: 11px;
    margin-bottom: 15px;
    color: #6e7580;
}
.footer-bottom{
    background: #262834;
    padding: 25px 0;
}
.copy-right{

}
.copy-right p{   
    font-size: 14px;   
    color: #cbcbcd;
}
.copy-right p span{   
    font-size: 13px;    
    color: #EF4F43;
}
.footer-nav{
    text-align: right;
}
.footer-nav ul{
    
}
.footer-nav ul li{
    display: inline-block;
}
.footer-nav ul li a{
    color: #939da5 !important;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0 0 0 10px !important;
    text-decoration: none;
}
.footer-nav ul li a:hover{
    color: #EF4F43 !important;
}




